
* {
    box-sizing: border-box;
}

#startVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#Ship {
    position: absolute;
    left: 20px;
    top: 20px;
}

#skipStory {
    position: absolute;
    right: 2rem;
    top: 1rem;
    border-radius: 45%;
    background-color: fuchsia;
}