/* Fix the border so the user doesn't can't scroll */
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#startVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#Ship {
    position: absolute;
    left: 20px;
    top: 20px;
}

#skipStory {
    position: absolute;
    right: 2rem;
    top: 55rem;
    border-radius: 45%;
    background-color: fuchsia;
}

/*#story {
    position: absolute;
    color: rgb(187, 182, 182);
    margin: 0 30%;
    font-size: x-large;
}*/

.story {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    perspective: 400%;
    color:rgb(187, 182, 182);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: .5rem;
    line-height: 150%;
    text-align: justify;
    margin: 40rem;
}

.crawl {
    position: relative;
    top: -100rem;
    transform-origin: 50% 100%;
}

/* The animation */
@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -600rem;
        transform: rotateX(25deg) translateZ(2500rem);
    }
}

.crawl {
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 400s linear;
}

/*Fading Text*/
.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25rem;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}